#search{padding-bottom:100px;text-align:center;*z-index:1}  <!-- search对应 <div id ="search"> -->

body{font:12px arial;text-align:center;background:#fff}
body,p,form,ul,li{margin:0;padding:0;list-style:none}

#ftConw{width:720px;margin:0 auto}

input{border:0;padding:0}

/*------------------------------------------按钮和输入框-------------------------------------*/
 .ipt_wr { 
      
        height:34px;
        border:1px solid #b6b6b6;
        border-color:#7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
        background:#fff;
        display:inline-block;
        vertical-align:top;  
        width:539px;
        margin-right:0;
        border-right-width:0;   /*右边框为0*/ 
        border-color:#b8b8b8 transparent #ccc #b8b8b8;
        overflow:hidden
    }
 .ipt {
        
        width:526px;    /*输入框宽度*/
        height:22px;    /*输入框高度*/
        font:16px/18px arial;   /*输入的字体大小，arial字型*/
        line-height:22 px\9;    /*字符间距*/
        margin:6px 0 0 7px;     /*外边距*/
        padding:0;              /*内边距*/
        background:transparent; /*背景透明*/
        border:0;               /*边框*/
        outline:0;              /*输入边框*/
        -webkit-appearance:none     /*移除原生控件样式*/   
    }
 .btn {
       
        width:100px;    /*按钮宽度*/
        height:36px;    /*按钮高度*/
        color:white;    /*字体颜色*/
        font-size:15px; /*字体大小*/
        letter-spacing:1px; /*字符间距*/
        background:#3385ff; /*背景蓝色*/
        border-bottom:1px solid #2d78f4;    /*下边框的宽度、样式和颜色值*/
        outline:medium;     /*轮廓*/
        *border-bottom:0;    /*底边框*/
        -webkit-appearance:none;
        -webkit-border-radius:0
    }
 .btn_wr{
        
        width:auto;
        height:auto;
        border-bottom:1px solid transparent;
        *border-bottom:0
    }
 .center{
        position:absolute;
        top:34.3%;
        right:25%;
        left:25%;
    } 
/*------------------------------------------按钮和输入框-------------------------------------*/


/*------------------------------------------网页主要内容-------------------------------------*/
/*----------------------登录和注册---------------------*/  
/*  .login {
        position: absolute;
        top: 12px;
        left: 700px;
}
 .register {
        position: absolute;
        top: 12px;
        left: 700px;
 } */

 /*--------------------页面结果列表样式------------------*/
#container {
    position:absolute;  /*相对于浏览器窗口定位*/
    top: 70px;  /*与header之间空10px*/
   /*  bottom: 60px; */
    height: auto;   /*高度随着内容变化*/
    width: /* 1212px */;
    width: 100%;    /*为让footer铺满并且跟随滚动条*/
    /* margin: 0 0 300px 0; */ /*离开浏览器窗口底部距离300px,,留出footer空间*/
}
/*------------------------统计条目数----------------------*/
.nums {  
    height: 42px;
    width: 538px;
    padding: 0 0 0 10%;   /*偏移窗口左侧距离*/
    margin: 32px 0 10px 0;
    font: bold 10px Arial, Helvetica;   /*字体样式：粗细、大小、字体风格*/
    color: #CCC;
    line-height: 42px;  /*垂直居中*/
}
.search-tools {
    position: relative;
    float:right;    /*向右浮动，显示在一行*/
    height: 42px;
    width: 62px;
    padding: 0;
    margin: 0;
}
/*------------------------右侧推荐----------------------*/
.content_right {
    position:absolute;
    right:30%;
    top: 104px;  /*相对于#container定位*/
    padding: 0 0 0 10px;
    border-left: 1px solid #CCC; /*边框*/
    text-decoration: none;
}
/*------------------------左边搜索结果----------------------*/
.content_left {  
    position: relative;
    width: 549px;
    height: auto;
    padding: 0 0 0 10%;   /*偏移窗口左侧距离*/
}

li.itemList {
    position: relative;
    height: 260px;    /*高度不能固定死，否则容易重叠*/
    width: 710px;
    margin: 15px 0 15px 0;
    padding: 0 0 15px 0;    /*条目之间距离*/
    border-bottom: 1px solid #CCC; /*边框*/
}
.itemName {     /*标题*/
    position: relative;
    height: 20px;
    width: 710px;
    white-space: nowrap; /*禁止换行*/
    overflow:hidden; /*超出范围隐藏*/
    text-overflow:ellipsis; /*超出范围显示省略号*/
}
.itemName a {    /*标题文字*/
    height: 17px;
    width: 483px;
    padding: 0;
    margin: 0;
    font: bold 18px Arial, Helvetica;   /*字体样式：粗细、大小、字体风格*/ 
}

.img {      /*图片*/
    
    width: 190px;
    /* height: 190px; */
    float: left;
    padding: 0 15px 0 0;    /*把图片推离文字*/
}

.itemRight {
    position: relative;
    height: 190px;
    width: 430px;
    margin: auto;   /*实现左对齐*/
}
.price {
    height: 24px;
    margin: 0 5px 0 0;
    color: #CC6600;
    font: bold 18px Arial, Helvetica;   /*字体样式：粗细、大小、字体风格*/
}

.lable{
    position: relative;
    height: 19px;
    margin: 20px 0 20px 0;
    color: #999;
}
.lable a {
    color: #999;
    text-decoration: none;
}
.itemTime {
    float: right;
}

.itemDetail {
    position:relative;
    height: 96px;
    width: 500px;
    font: normal 14px Arial, Helvetica;   /*字体样式：粗细、大小、字体风格*/ 
}
.itemDetail p {
    display:block;
    height:96px;
/*     width:500px; */
/*     line-height: 20px; */
    margin-bottom: 5px;
    overflow:hidden; /*超出范围隐藏*/
    text-overflow:ellipsis; /*超出范围显示省略号*/
}
.itemBuy {
    padding-top: 10px;
    margin: auto;
    
}
.itemBuy a {
    text-decoration: none;
}
.buyPart{
    position: relative;
    float: right;
}
/*------------------------相关搜索----------------------*/
#relate_result {
    position: relative;
    height: 104px;
    width: 600px;
    /* bottom: 60px; */   /*距离container的底部*/
    bottom: 0;      /*相对于content_left底部*/
    left: 0;
   /*  padding: 0 0 0 150px;  */  /*偏移窗口左侧距离*/
    padding: 0; /*偏移content_left左侧距离*/
    line-height：104px;
    margin: 20px 0 0 0;     /*推离itemlist*/
    /* text-decoration: none; */
    font: bold 14px Arial, Helvetica;   /*字体样式：粗细、大小、字体风格*/    
}
.rr_title {
    height: 30px;
    line-height: 30px;
    font: bold 16px Arial, Helvetica;   /*字体样式：粗细、大小、字体风格*/
}
th {
}
/*--------------------------分页------------------------*/
#page {
    position: relative; /*设置为相对定位后就惠跟着条目往下移*/
    /* bottom: 60px; */   /*相对于container底部*/
    bottom: 0;      /*相对于content_left底部*/
    height: 66px;
    width: 1100px;
    /* padding: 0 0 0 150px; */   /*偏移窗口左侧距离*/
    padding: 0; /*偏移content_left左侧距离*/  /*整体偏移窗口左侧由content_left定义*/
    margin: 20px 0 0 0;     /*和footer的位置由container定义*/
    font: bold 14px Arial, Helvetica;   /*字体样式：粗细、大小、字体风格*/
}
#page a {
    text-decoration: none;  /*去掉了下划线*/
    margin-right: 5px; /*控制页之间的间隔*/
   
}
#page .n {      /*上/下一页效果*/
    height: 36px;
    width: 64px;
    padding: 9px 19px 9px 19px; 
    color: #3385ff;     /*字颜色*/
    border: 1px solid #CCC; /*边框*/
    /* box-shadow: 0 1px 1px #777; /*边框阴影*/ */
}
#page a span.pc {       /*分页数字效果*/
   /*  height: 36px;
    width: 36px; */ 
    padding: 9px 13px;    
    border: 1px solid #CCC;
    color: #3385ff;     /*字颜色*/
}
#page a span.active {   /*当前页*/
    color: #111;     /*字颜色*/
    border: none;
    padding: 9px 13px; 
}

/*------------------------------------------网页主要内容-------------------------------------*/


/*------------------------------------------返回顶部按钮------------------------------------*/
#backTotop {
    position: fixed;
    right: 5%;      /*距离窗口右侧位置*/
    bottom: 0;   /*距离窗口底部位置*/
    display: none;
    z-index: 999;
}
#top {
	position: relative;
	/* right: 25px; */
    /* left: 1450px; */       /*相对于浏览器窗口左侧*/
	/* bottom: 60px; */      /*相对于浏览器窗口底部*/
	width: 60px;
	height: 60px;
	/* background-color: #bbb; */
    background-color: #FFF;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
	/* opacity: 0.8; */
}
#top .arrow{    /*制作三角形*/
	margin:0 auto;
	padding-top:11px;
	width:0;
	height: 0;  /*定位到中心*/
	border-right: 15px solid transparent;   /*三角形的三条边*/
	border-left: 15px solid transparent; 
	border-bottom: 15px solid #7f7f7f;
}
#top .stick{    /*制作矩形*/
	margin:0 auto;  /*和三角形贴上*/
	padding-bottom:21px;    /*离开top底部距离*/
	width: 13px;    /*矩形宽*/
	/* border-bottom: 13px solid #bbb; */
	background-color: #7f7f7f;
}
/* #top :hover{
	background-color: #FF0000;
}
#top .stick :hover {
    background-color : #FFF;
} */

#suggest {
    position: relative;
	/* right: 25px; */
    /* left: 1450px;  */      /*相对于浏览器窗口左侧*/
	/* bottom: 380px; */      /*相对于浏览器窗口底部*/
	width: 60px;
	height: 60px;
    font-size: 25px;
    text-align: center;
	/* background-color: #bbb; */
    background-color: #FFF;
    border: 1px solid #ddd;
    /* border-top: 1px solid #CCC; */
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
	/* opacity: 0.8; */
    
}
#suggest a {    
    padding:auto;
    text-decoration: none;
}
#suggest :hover {
    background-color: #FF0000;
}
/*------------------------------------------返回顶部按钮------------------------------------*/


/*------------------------------------------网页footer部分----------------------------------*/ 
#footer {
  /*   position: relative;
    bottom: 100px;
    height: 300px;
    width:100%;
    margin: 0 auto;
    padding:40px 0;
    background-color: #333; */
}
.footer {
    position: relative;
    height: 300px;
    width:100%;
    margin: 0 auto;
    padding:40px 0 40px 10%;
    background-color: #333;
}
.footer a {
    font: bold 12px Arial, Helvetica;   /*字体样式：粗细、大小、字体风格*/
    color: #ccc;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
}
.footer-top {
    padding-bottom: 40px;
    margin-bottom: 10px;
}
.footer-top a {
    padding-right: 30px;
    color: #ccc;
}
.friendly-link {
    margin-bottom: 40px;
}
.link-title {
    margin-bottom: 10px;
    font: bold 14px Arial, Helvetica;   /*字体样式：粗细、大小、字体风格*/
    color: #999;
}
.friendly-link ul li {
    /* float: left; */
    margin-left: 0;
    display: inline;
}
.friendly-link ul li a {
    padding-right: 30px;
    line-height: 24px;
    display: inline-block;
    color: #999;
}
.friendly-link ul li a:hover {
    color: #fff;
}
.friendly-link a {
    color: #999;
}
.copy-right {
    margin: auto;
    font: bold 12px Arial, Helvetica;   /*字体样式：粗细、大小、字体风格*/
    color: #999;
}
/*------------------------------------------网页footer部分----------------------------------*/ 


/*---------------------热词部分-----------------------*/ 
 .menu {
        position:relative;
        width:438px;
        z-index:2;
        background: #FFF;
        border:1px solid #000;
        margin-top:-20px;
        margin-left:20px;
        display:none;
        float:left;
    }
    .menu2 {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:auto;
        overflow:hidden;
        z-index:1;
        float:left;
    }
    .Menu2 ul{margin:0;padding:0}
    .Menu2 ul li{
        width:100%;height:25px;line-height:25px;text-indent:15px;
        border-bottom:1px dashed #ccc;color:#666;cursor:pointer;
        float:left;    
    }