<!DOCTYPE html>
<html>
<body>

<footer>

<!-- navbar -->
<div class="navbar">
    <ul id="navig">
        <li><a href="#">Home</a></li>
        <li class="input_ls">
            <span class="item_input">
               <span class="ipt_wr"><input type="text" id="search_input" class="ipt" autocomplete="off"  onkeydown="return Entpress(event);" /></span><span class="btn_wr"><input id="search_btn" class="btn" type="button" value='百度一下' onclick=javascript:jump() /></span>
            </span>
        </li>
        <li><a href="#">Work</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li id="login"><a href="#">登录</a></li>
        <li id="register"><a href="#">注册</a></li>
    </ul>

</div>
    
</footer>

</body>