<!DOCTYPE html>
<html>
<body>

<footer id="footer">
<!-- navbar -->
<div class="footer">
    <div class="footer-top">
        <a href="" target="_blank">关于我们</a>
        <a href="" target="_blank">联系我们</a>
    </div>
    <div class="friendly-link">
        <div class="link-title">
            友情链接
            <span>(<a href="" target="_blank">申请</a>)</span>
        </div>
        <ul>
            <li><a href="" target="_blank">链接1</a></li>
            <li><a href="" target="_blank">链接2</a></li>
            <li><a href="" target="_blank">链接3</a></li>
        </ul>
    </div>
    <div class="copy-right"><br>版权所有<br>2015-2016</div>
</div>
    
</footer>

</body>