<header>

<!-- navbar -->
<div class="navbar">
    <ul id="menu">
        <li><a href="#">Home</a></li>
        <li>
            <a href="#" id="categ">Categories</a>
            <ul id="categ_detail">
                <li><a href="#">CSS</a></li>
                <li><a href="#">Graphic design</a></li>
                <li>
                    <a href="#">Development tools</a>
                    <ul>
                        <li><a href="#">Graphic design-1</a></li>
                    </ul>
                </li>
                <li><a href="#">Web design</a></li>
            </ul>
        </li>
        <li><a href="#">Work</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li id="login"><a href="#">登录</a></li>
        <li id="register"><a href="#">注册</a></li>
    </ul>

</div>
    
</header>