<!DOCTYPE html>
<html>
{% include "head.html" %}

<body>

{% include "header.html" %}

<div id="search">
    <span class="center">
        <form id="form" action="/show" class="fm"><span class="ipt_wr"><input type="text" name="text" id="search_input" class="ipt" autocomplete="off"  onkeydown="return Entpress(event);" /></span><span class="btn_wr"><input id="search_btn" class="btn" type="submit" value='百度一下' onclick="jump();" /></span></form>
    </span>
    <div id="search_button" onclick="search()"></div>
    <div class="menu" id="hot_word">
        <div class="menu2">
            <ul id="list"></ul>
        </div>
    </div>    
</div>



</body>

</html>
