<!DOCTYPE html>
<html>
{% include "head.html" %}

<body>

{% include "header_item.html" %}
<div id="container" class="container_l">
    <div class="nums">
        <div class="search-tools"><i class="serach-tools-spans">筛选</i></div>
        为您找到相关结果约 {{num}} 个
    </div>

    <!--结果列表-->
    <div class="content_left">
        {% for item in items.object_list %}
        <li class="itemList" id="{{ item.itemid }}" time="{{ item.updatetime }}">
            <div class="itemTitle">
                <!-- <a class="located" href="">国内</a> -->
                <h3 class="itemName"><a href="{{ item.href}}" target="_blank">{{ item.name }}</a>
                    <span class="price">{{ item.price }}</span>
                </h3>
            </div>
            <a title="{{ item.name }}" class="image-pic-left" target="_blank" href="{{ item.href }}"><img src="{{ item.image}}" class="img"></a>
            <div class="itemRight">
                
                <div class="lable">
                    <span class="itemTab"><a href="">分类</a></span>
                    <span class="itemTime">{{ item.article_time }}</span>
                </div>
                <div class="itemDetail">
                    
                {% if item.baoliao_content %}
                    <a href="{{ item.href }}">{{ item.originmall }}</a>{{ item.baoliao_content }} <a href="{{ item.article_url }}" target="_blank" class="detail">详情</a>
                {% elif item.item_description%}
                    <a href="{{ item.href }}">{{ item.originmall }}</a>{{ item.item_description }} <a href="{{ item.article_url }}" target="_blank" class="detail">详情</a>
                {% else %}
                    <a href="{{ item.href }}">{{ item.originmall }}</a>{{ item.youhui_content }} <a href="{{ item.article_url }}" target="_blank" class="detail">详情</a>
                {% endif %}
                   
                </div>
                <div class="itemBuy">
                    <a id="worthy" href="" onclick="" class="good">
                        <span class="score"><b>值{{ item.good_count }}</b></span>
                    </a>
                    <a id="unworthy" href="" onclick="" class="bad">
                        <span class="score"><b>不值{{ item.bad_count }}</b></span>
                    </a>
                    <a id="collect" href="" onclick="" class="fav" title="收藏">
                        <span class="score"><b>收藏{{ item.fav_count }}</b></span>
                    </a>
                    <div class="buyPart">                    
                        <a href="" target="_blank" class="store">{{ item.originmall }}</a>
                        <a href="{{ item.href }}" target="_blank" class="buyLink">购买链接</a>
                    </div>   
                </div>  
            </div>
        </li>
            
        {% endfor %}
        <!-- 相关搜索 -->
        <div id="relate_result">
            <div class="rr_title">相关搜索1</div>
            <table >
                <tbody>
                    <tr>
                        <th><a href="">相关搜索1</a></th>
                        <td></td>
                        <th><a href="">相关搜索1</a></th>
                        <td></td>
                        <th><a href="">相关搜索1</a></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th><a href="">相关搜索2</a></th>
                        <td></td>
                        <th><a href="">相关搜索2</a></th>
                        <td></td>
                        <th><a href="">相关搜索2</a></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th><a href="">相关搜索3</a></th>
                        <td></td>
                        <th><a href="">相关搜索3</a></th>
                        <td></td>
                        <th><a href="">相关搜索3</a></th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 使用django的paginator实现分页显示方式 -->
        <div id="page">
        {% if items.has_previous %}
            <a href="?text={{ value }}&page={{ items.previous_page_number }}" class="n"><上一页</a>
        {% endif %}
        {% for page_number in page_range %}
        {% ifequal page_number  items.number %}
            <a href="?text={{ value }}&page={{ page_number }}" class="active" title="pre"><span class="fk"><i class="icon-bear-pn"></i></span><span class="active">{{ page_number }}</span></a>
        {% else %}
            <a href="?text={{ value }}&page={{ page_number }}" title="第{{ page_number }}页"><span class="pc">{{ page_number }}</span></a>
        {% endifequal %}
        {% endfor %}
        {% if items.has_next %}
            <a href="?text={{ value }}&page={{ items.next_page_number }}" class="n" title="Next">下一页></a>
        {% endif %}  
            <b>{%if items.paginator.num_pages%}共 {{ items.paginator.num_pages }} 页{%endif%}</b>
        </div>
    </div>
    <div class="content_right">
        <div class="rr_title">相关搜索2</div>
        <table>
            <tbody>
                <tr>
                    <th><a href="">相关搜索1</a></th>
                    <td></td>
                    <th><a href="">相关搜索1</a></th>
                    <td></td>
                    <th><a href="">相关搜索1</a></th>
                    <td></td>
                </tr>
                <tr>
                    <th><a href="">相关搜索2</a></th>
                    <td></td>
                    <th><a href="">相关搜索2</a></th>
                    <td></td>
                    <th><a href="">相关搜索2</a></th>
                    <td></td>
                </tr>
                <tr>
                    <th><a href="">相关搜索3</a></th>
                    <td></td>
                    <th><a href="">相关搜索3</a></th>
                    <td></td>
                    <th><a href="">相关搜索3</a></th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- <footer id="footer"> -->
    <!-- navbar -->
    <div class="footer">
        <div class="footer-top">
            <a href="" target="_blank">关于我们</a>
            <a href="" target="_blank">联系我们</a>
        </div>
        <div class="friendly-link">
            <div class="link-title">
                友情链接
                <span>(<a href="" target="_blank">申请</a>)</span>
            </div>
            <ul>
                <li><a href="" target="_blank">链接1</a></li>
                <li><a href="" target="_blank">链接2</a></li>
                <li><a href="" target="_blank">链接3</a></li>
            </ul>
        </div>
        <div class="copy-right"><br>版权所有<br>2015-2016</div>
    </div>
    
<!-- </footer> -->
</div>
    <!-- 另一种分页显示方式 -->
    <!-- <p>
    {% if topics.has_previous %}
      <a href="http://127.0.0.1:8000/show/?page={{ items.previous_page_number }}">Previous</a>
      {% endif %}
      {# items.paginator.number_pages 返回总页数 #}
      Page {{ items.number }} of {{ items.paginator.num_pages }}.
    {% if items.has_next %}
      <a href="http://127.0.0.1:8000/show/?page={{ items.next_page_number }}">Next</a>
    {% endif %}
    </p> -->

    <!--分页-->
    <!-- <div id="page">
        <a href="" class="n"><上一页</a>
        <a href=""><span class="fk"><i class="icon-bear-pn"></i></span><span class="pc">1</span></a>
        <a href=""><span class="fk"><i class="icon-bear-pn"></i></span><span class="pc">2</span></a>
        <a href=""><span class="fk"><i class="icon-bear-pn"></i></span><span class="pc">3</span></a>
        <a href=""><span class="fk"><i class="icon-bear-pn"></i></span><span class="pc">4</span></a>
        <a href=""><span class="fk"><i class="icon-bear-pn"></i></span><span class="pc">5</span></a>
        <a href=""><span class="fk"><i class="icon-bear-pn"></i></span><span class="pc">6</span></a>
        <a href=""><span class="fk"><i class="icon-bear-pn"></i></span><span class="pc">7</span></a>
        <a href=""><span class="fk"><i class="icon-bear-pn"></i></span><span class="pc">8</span></a>    
        <a href="" class="n">下一页></a>
    </div> -->

<!--回到顶部/意见反馈-->
<div id="backTotop">
    <div id="top" data-toggle="tooltip" data-placement="left" title="回到顶部">
      <a href="javascript:;" onclick="backToTop()">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>
    <div id="suggest">
        <a href="" class="suggest" target="_blank">意见反馈</a>
    </div>
</div>

<script type="text/javascript">
    $(window).scroll(function(){
        alert('do load')
        totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
        if ($(document).height() <=totalheight) {
            var url_now = window.location.search;
            var page = 1;
            if url_now.match("&"){
                page = parseInt(url_now.split('=')[-1]);
                page = page + 1;
                url = url_now.split('&')[0] + "page=" + page;
            }
            else {
                page = page + 1;
                url = url_now.split('&')[0] + "page=" + page; 
            }
            var param = {}; // 组装发送参数
            param['name']  = $('form input[name=name]').val();
            $.get(url, param,  function(dom) { $('div.content_left').append(dom) });
        }
    });
</script>
</body>

</html>
